.wrapper {
    --search-top-spacer: 9px;
    --search-height: 46px;
    --search-button-width: 52px;

    display: flex;
    justify-content: center;
    width: 100%;

    height: var(--default-layout-header-height, 60px);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
}

.custom-upload {
    padding: 5px 18px;
    border-color: #ccc;
    color: inherit;

    &:hover {
        background-color: transparent;
    }
}

// Actions
.actions {
    display: flex;
    align-items: center;
    bac &-user {
        margin-left: 20px;
    }
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 10px 15px 5px 10px;

    background-color: transparent;
}

.action-btn {
    font-size: 2.6rem;
    padding: 5px 15px;
    color: rgb(22, 24, 35);
    background-color: transparent;

    // background-color: #ccc;
}

.user-avatar {
    margin-left: 24px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    background: center center / cover no-repeat;
    user-select: none;
    cursor: pointer;
}

.inbox-icon {
    margin-top: 8px;
}

.messages-icon {
    margin-bottom: 3px;
}
